/*
div{
  border: 1px dashed red;
}
*/
body{
  background-image: url("../img/body-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.main-title{
  margin-top: 10px;
  background: none;
  border: none;
  border-right: 1px solid gray;
}

.contenido{
  background: rgba(85, 185, 150, 0.26);
}

.cabecera{
  border-bottom: 2px solid gray;
  background: rgba(85, 185, 150, 0.26);
}

.titulo{
  color: blue;
  font-weight: bold;
  text-shadow: 5px 8px 4px black;
}

.slogan{
  text-align: right;
  color:red;
  font-style: italic;
  text-shadow: 2px 2px 1px black;
}

.tools{
  color: white;
  margin: 10px;
  background: rgba(216, 70, 44, 0.8);
}

.articulo{
  color: white;
  margin: 0px;
  background: rgba(44, 75, 216, 0.8);
}

.menu-nav li a{
  color: white;
  border: 1px solid white;
}

.menu-nav li a:hover{
  color: red;
  background: white;
}

 .menu-hist li a{
  color: white
}

.menu-hist li a:hover{
 text-decoration: underline;
}

h6{
  margin-top: 30px;
}

.favoritos{
  text-align: center;
  margin-top: 5px;
}

.fav-img{
  width: 30%;
  height: 90px;
  margin: 0px 2px;
}

.articulo{
  margin-top: 10px;
}

.icon-user{
  width: 45px;
  margin: auto;
  padding: auto;
}

.comentario{
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}

.comentario .texto{
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
}
